
[build]
  functions = "netlify/functions"
  publish = "dist"

  [[redirects]]
  from = "/api/card-checkout"
  to = "/.netlify/functions/card-checkout"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
